<h1>Add a shoe brand</h1>

<form class="pa1 black-80" action="/shoe/new" method="post">
  <div class="measure">
    <div class="mw8 center pt0 pb5 pv5-m pv1-ns">
      <div class="db dtc-ns v-mid-ns">
        <label for="brand">Brand</label>
        <input id="brand" name="brand" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
        <small id="name-desc" class="f4 black-60 db mb2">Enter the shoe brand</small>
        <hr>
        <label for="price">Price</label>
        <input id="price" name="price" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
        <small id="name-desc" class="f4 black-60 db mb2">Enter the shoe price</small>
        <br>
        <input id="create" class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f4 dib" type="submit" value="Create">
      </div>
  </div>
</form>
