<h1>Add a store</h1>

<form class="pa1 black-80" action="/store/new" method="post">
  <div class="measure">
    <div class="mw8 center pt0 pb5 pv5-m pv1-ns">
      <div class="db dtc-ns v-mid-ns">
        <label for="name">Name</label>
        <input id="name" name="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
        <small id="name-desc" class="f4 black-60 db mb2">Enter a store name here</small>
      </div>
      <div class="db dtc-ns v-mid ph2 pr0-ns pl3-ns">
        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f4 dib" type="submit" value="Create">
      </div>
  </div>
</form>
